*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.app__form{
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #e9e9eb !important;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.app__input{
  flex: 1;
}