.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
    max-width: 70%;
    font-size: 1rem;
}

.message__user{
    margin-left: auto;
    text-align: left !important;
    color: white;
}

.message__userCard{
    background-color: #0b81ff !important;
    color: white !important;
}

.message__guestCard{
    background-color: #e9e9eb !important;
}