.message{
    margin-top: 1rem;
    width: fit-content;
    min-width: 5%;
    max-width: 70%;
    font-size: .75rem !important;
    overflow: hidden;

    &__details{
        font-size: .45rem;
        text-align: left;
        padding-left: .5rem;
        z-index: 0;
        .username{
            margin-right: .8rem;
            opacity: .8;
            font-size: .45rem;
        }
        .time{
            opacity: .5;
        }
    }
    .usericon{
        margin-bottom: -.5rem;
        margin-left: -1.1rem;
    }
}

.message__guest{
    padding-left: 1.2rem;
}

.message__userCard, .message__guestCard{    
    border-radius: 17px;
    padding: 10px 1rem;
    width: fit-content;
    min-width: 100px;    
    z-index: 2;
}

.message__user{
    margin-left: auto;
    text-align: left !important;
    color: white;
}

.message__userCard{
    background-color: #0b81ff !important;    
    border-top-right-radius: 0;
    text-align: right;
    // color: white !important;
}

.message__guestCard{
    background-color: #e9e9eb !important;    
    border-top-left-radius: 0;
    text-align: left;
}
.user-details{
    text-align: right;
    padding-right: .5rem;
}
.not-first{
    margin-top: 0;
}